/* Mixins */

/**
  Makes transitions in the format of:
  transition: prop1 easing duration, prop2 easing duration ...

  First argument is duration, other default to `all` and `ease-in`
**/
@mixin make-transition($duration, $elements: all, $easing: ease-in) {
  @if $elements == all {
    transition: $elements $easing $duration;
  } 
  @else {
    $result: ();
    @for $i from 1 through length($elements) {
      $type: nth($elements, $i);
      $result: append($result, $type);
      $result: append($result, $easing);
      $result: append($result, $duration);
      @if $i != length($elements) {
        $result: append($result, unquote(","))
      }
    }
    transition: $result;
  }
}