$tile-color: white;
$shadow-color: #ddd;
$tile-gutter: 1em;

.my-container {
  @include respond-to(tablet) {
    display: flex;
    max-width: 100rem;
    margin: 0 auto;
    margin-top: 2.5rem;
    & > .tile {
      flex: 1;
    }
    .content {
      flex: 2;
      background: $tile-color;
    }
  }  
}

.tile {
  background: $tile-color;
  box-shadow: 4px 4px 10px -3px $shadow-color;
  font-size: 1.2rem;
  padding: 1em;
  &:not(:last-child) {
    margin-right: $tile-gutter;
  }
  &:not(:first-child) {
    margin-left: $tile-gutter;
  }
}

.avatar {
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3.5em;
    margin-bottom: 1em;
    img {
      border-radius: 5em;
    }
  }
  &__stats {
    display: flex;
    margin-top: 5em;
    border-top: 3px solid $body-bg;
  }
  &__stat {
    margin-top: .5em;
    flex: 1;
    h3, h4 {
      text-align: center;
    }
    &:first-child {
      border-right: 3px solid $body-bg;
    }
    h4 {
      color: gray;
      font-size: 1.2rem;
    }
  }
  h1, h2 {
    text-align: center;
  }
  h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  h2 {
    font-size: 1.3rem;
    opacity: 0.8;
  }
}