/* Move to form.scss */
%form-generic {
  width: 100%;
  background: #fafafa;
  border-radius: .22em;
  border: 1px solid #ebebeb;
  @include make-transition(150ms, (box-shadow border));
  &:focus,
  &:active {
    outline: 0;
    border: 1px solid $primary;
    box-shadow: 0 0 .4rem rgba($primary, .25);
  }
}

.form-input {
  input, textarea {
    @extend %form-generic;
  }
  input {
    padding-top: .5em;
    padding-bottom: .5em;
  }
  textarea {
    font-size: 1.3rem;
    padding: .5em;
    line-height: 1.3;
  }
  &--left-extension {
    position: relative;
    input {
      padding-left: 1.8em !important;
    }
    i {
      position: absolute;
      left: .5em;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2.65em;
      opacity: 0.5;
    }
  }
}

.form-button {
  background: map-get($theme-colors, 'primary');
  color: white;
  border: none;
  padding: .5em 1em;
  border-radius: 5%;
  cursor: pointer;
  &:disabled {
    background: lighten($color: map-get($theme-colors, 'primary'), $amount: 25%);
    cursor: not-allowed;
  }
}

/* Step form */
.step-form {
  margin: 1em;
}