/* Move to form.scss */
.form-input {
  input {
    width: 100%;
    background: #fafafa;
    border-radius: .22em;
    border: 1px solid #ebebeb;
    padding-top: .5em;
    padding-bottom: .5em;
    transition: all ease-in 150ms;
    &:focus,
    &:active {
      outline: 0;
      border: 1px solid $primary;
      box-shadow: 0 0 .4rem rgba($primary, .25);
    }
  }
  &--left-extension {
    position: relative;
    input {
      padding-left: 1.8em !important;
    }
    i {
      position: absolute;
      left: .5em;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2.65em;
      opacity: 0.5;
    }
  }
}