$site-navigation-bg: #fff;
$primary: map-get($map: $theme-colors, $key: primary);
$link-color: rgb(26, 26, 26);

.site-navigation {
  &__header {
    display: flex;
    min-height: 4.3rem;
    background: $site-navigation-bg;
    box-shadow: .1em .1em .2em #eaeaea;
  }
  &__logo {
    position: absolute;
    width: 12rem;
    height: auto;
    padding: .5em;
  }
  &__search {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .form-input {
      width: 30rem;
      max-width: 40%;
    }
  }
  &__navbar {
    box-shadow: 0 .2em .3em -2px #c5c5c5;
    ul {
      display: flex;
      margin: 0 auto;
      padding: 0;
      justify-content: space-around;
      max-width: 50rem;
      list-style-type: none;
    }
  }
}

.link {
  position: relative;
  height: 100%;
  margin: 1.4em 0;
  a {
    font-size: 1.5rem;
    color: rgba($link-color, .20);
    transition: all ease-in 150ms;
    &:hover,
    &:active,
    &:visited {
      color: $link-color;  
      text-decoration: none; 
    }
  }
  &--is-active {
    a {
      color: $link-color;
    }
    &:after {
      content: "";
      width: calc(100% + 2em);
      height: .25rem;
      background: $primary;
      position: absolute;
      bottom: -1.4em;
      left: -1em;
    }
  }
}

/* Move to form.scss */
.form-input {
  input {
    width: 100%;
    background: #fafafa;
    border-radius: .22em;
    border: 1px solid #ebebeb;
    padding-top: .5em;
    padding-bottom: .5em;
    transition: all ease-in 150ms;
    &:focus,
    &:active {
      outline: 0;
      border: 1px solid $primary;
      box-shadow: 0 0 .4rem rgba($primary, .25);
    }
  }
  &--left-extension {
    position: relative;
    input {
      padding-left: 1.8em !important;
    }
    i {
      position: absolute;
      left: .5em;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2.65em;
      opacity: 0.5;
    }
  }
}