$site-navigation-bg: #fff;
$primary: map-get($map: $theme-colors, $key: primary);
$link-color: rgb(26, 26, 26);

.site-navigation {
  &__header {
    min-height: 4.3rem;
    background: $site-navigation-bg;
    box-shadow: .1em .1em .2em #eaeaea;
    text-align: center;
    @include respond-to(tablet) {
      display: flex;
    }
  }
  &__logo {
    margin: 1.3em auto;
    @include respond-to(tablet) {
      margin: 0;
      position: absolute;
      width: 12rem;
      height: auto;
      padding: .5em;
    }
  }
  &__search {
    width: 80%;
    padding-bottom: 2em;
    margin: 0 auto;
    @include respond-to(tablet) {
      flex: 1;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .form-input {
        width: 30rem;
        max-width: 40%;
      }
    }
  }
  &__navbar {
    box-shadow: 0 .2em .3em -2px #c5c5c5;
    ul {
      display: flex;
      margin: 0 auto;
      padding: 0;
      justify-content: space-around;
      max-width: 50rem;
    }
  }
}

.link {
  position: relative;
  height: 100%;
  margin: 1.4em 0;
  a {
    transition: all ease-in 150ms;
    color: rgba($link-color, .20);
    &:hover,
    &:active,
    &:visited {
      color: $link-color;  
      text-decoration: none; 
    }
    @include respond-to(tablet) {
      font-size: 1.5rem;
    }
  }
  &--is-active {
    a {
      color: $link-color;
    }
    &:after {
      content: "";
      width: calc(100% + 2em);
      height: .25rem;
      background: $primary;
      position: absolute;
      bottom: -1.4em;
      left: -1em;
    }
  }
}
