.tile.choose-gif {
  margin-right: 0;
}

.choose-gif {
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
  padding: 0;
  &__title {
    padding: .5em 1em 0;
    font-size: 1.4rem;
  }
  &__group {
    padding:1em;
  }
  &__desc {
    margin-bottom: 1em;
  }
  &__btn {
    margin-top: 1em;
  }
}

.post {
  background: white;
  margin: 2.5em 0;
  @include respond-to(desktop) {
    margin: 2.5em 5em;
  }
  box-shadow: 4px 4px 10px -3px #ddd;
  &__header {
    padding: 1.5em;
    background: #f2f2f2;
    color: white;
    display: flex !important;
    h1 {
      margin-bottom: 0;
      margin-top: .5em;
      font-size: 1.4rem;
      text-align: center;
      flex: 1;
    }
    h2 {
      margin-bottom: 0;
      margin-top: .8em;
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.72);
    }
  }
  &__icon {
    display: inline-block;
    font-size: 2rem;
    padding: .5em;
  }
  &__description {
    font-size: 1.35rem;
    padding: 1em 0;
    padding-left: 1.2em;
  }
  &__icon--shake {
    animation-name: shake;
    animation-duration: 750ms;
  }
}

$shaken: 5deg;
@keyframes shake {
  0%  { transform:  rotate(0); }  
  10%  { transform: rotate($shaken);   }
  20%  { transform: rotate(-$shaken);  }
  30%  { transform: rotate($shaken);   }
  40%  { transform: rotate(-$shaken);  }
  50%  { transform:  rotate($shaken);  } 
  60%  { transform: rotate(-$shaken);  }
  70%  { transform: rotate($shaken);   }
  80%  { transform: rotate(-$shaken);  }
  90%  { transform: rotate($shaken);   }
  100% { transform: rotate(0); }
}