
// local variables

$arrow-width: 30px;

.step-form {
  margin: 1em;
  .new-post-nav {
    background:#fafafa;
    ul {
      display: flex;
      align-items: flex-start;
      li {
        flex: 1;
        height: 80px;
        padding: 1.3em;
        position: relative;
        &.is-active + li {
          margin-left: $arrow-width;
        }
        &.is-active {
          background: $primary;
          &:not(:last-of-type):after {
            width: 0; 
            height: 0; 
            top: 0; 
            right: -$arrow-width;
            display: block;
            position: absolute;
            content: "";
            border-top: 40px solid transparent;
            border-bottom: 40px solid transparent;
              border-left: $arrow-width solid $primary; 
            }
          }
        }
      }
    }

  textarea {
    margin: 1em 0;
    min-height: 8em;
  }

  &__label {
    color:#fafafa;
    text-transform: uppercase;
    font-weight: bolder;
  }
}
