
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
// Utils
@import "utils";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// My Layout
@import "layout/navigation";

html,
body {
  background: #fafafa !important;
}

.container {
  margin-top: 2em;
}

.gif-holder {
  margin: 2em 0;
  max-height: 20rem;
  overflow-y: scroll;
  img {
    @extend .responsive-image;
    margin: .5em 0;
  }
}

.post {
  h1 {
    font-size: 1.4rem;
    padding: .4em 0;
    text-align: center;
    flex: 1;
  }
}

.responsive-image {
  width: 80%;
  height: auto;
}

.gravatar-image {
  border-radius: 50%;
  width: 3rem;
  align-self: flex-start;
  margin: auto;
}

.translation-control {
  font-size: 1.5rem;
}