
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Mixins
@import "utilities/mixins";

// Utils
@import "utilities/utils";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// My Layout
@import "layout/navigation";
@import "layout/form";

// Import everything related to GIFs
@import "gifs/all";

html,
body {
  background: $body-bg !important;
  font-size:0.8rem;
}

[v-cloak] > * {
  display: none;
}

[v-cloak]::before {
  content: "loading app...";
}

.my-scroll {
  min-height: 200px !important;
}

/* Should extract in reset.scss */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 2em;
}

.gif-holder {
  margin: 2em 0;
  max-height: 20rem;
  overflow-y: scroll;
  img {
    @extend .responsive-image;
    margin: .5em 0;
  }
}

.responsive-image {
  width: 100%;
  height: auto;
}

.gravatar-image {
  border-radius: 50%;
  width: 3rem;
  align-self: flex-start;
  margin: auto;
}

.translation-control {
  font-size: 1.5rem;
}